<h1>Students#show</h1>
<p>Find me in app/views/students/show.html.erb</p>


<h3> Student Details </h3>
<br>
<%= @student.name %>
<br>
<%= @student.house.name%>

<p> There are <%= @student.house.students.size%> other students in the house <%= @student.house.name %> </p>