<h1>Teachers#show</h1>
<p>Find me in app/views/teachers/show.html.erb</p>




<h3> Teacher Details </h3>





<%= @teacher.name %>
<br>
<%= @teacher.house.name%>
<br>


<p> There are <%= @teacher.house.teachers.size %> other teachers in house <%= @teacher.house.name%> </p>